<!DOCTYPE html>
<html lang="zh-cn" class="scheme_original">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">

		<title>新闻</title>
		<include file="Common:header1" />
	</head>

	<body class="page page-template body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_show sidebar_right news">
		<a id="toc_home" class="sc_anchor" title="Home" data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home" data-url="index.html" data-separator="yes"></a>
		<a id="toc_top" class="sc_anchor" title="To Top" data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
		<!-- Body wrap -->
		<div class="body_wrap">
			<!-- Page wrap -->
			<div class="page_wrap">
				<div class="top_panel_fixed_wrap"></div>
				<!-- Header -->
				<include file="Common:header" />
				<!-- /Header Mobile -->
				<!-- Breadcrumbs -->
				<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
					<div class="top_panel_title_inner top_panel_inner_style_3 breadcrumbs_block_bg2">
						<div class="content_wrap">
							<h1 class="page_title">新闻中心</h1>
							<div class="breadcrumbs">
								<a class="breadcrumbs_item home" href="index.html">首页</a>
								<span class="breadcrumbs_delimiter"></span>
								<span class="breadcrumbs_item current">新闻中心</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /Breadcrumbs -->
				<!-- Page Content Wrap -->
				<div class="page_content_wrap page_paddings_no">
					<div class="content_wrap">
						<!-- Content -->	
							<div class="content">
								<div class="content_bg">
									<foreach name="data" item="vo" >
									<article class="post_item post_item_excerpt odd last donation">
										<div class="sc_services_item_featured post_featured">
		                                    <div class="post_thumb" data-title="Who We Are">
		                                         <a class="hover_icon hover_icon_link" href="{:U('News/deta',array('newsart_id'=>$vo['newsart_id']))}">
		                                            <img style="width: 167px;height: 167px;" alt="icon.jpg" src="{$vo.newsart_pic}">
		                                        </a>
		                                    </div>
		                                </div>
										<div class="post_content clearfix">
											<h4 class="post_title">
		                                        <a href="{:U('News/deta',array('newsart_id'=>$vo['newsart_id']))}">{$vo.newsart_title}</a>
		                                    </h4>
											<div class="post_info">
												<span class="post_info_item post_info_tags">作者：
		                                            <a class="donation_category_link" href="#">{$vo.newsart_author}</a>
		                                        </span>
		                                        <span class="post_info_item post_info_counters">{$vo.newsart_time}</span>
												<span class="post_info_item post_info_counters">阅读
		                                            <a class="post_counters_item post_counters_views" title="阅读" href="#">
		                                                <span class="post_counters_number">{$vo.newsart_reading}</span>
												</a>
												</span>
											</div>
											<div  class="post_descr">
												<p>{$vo.newsart_content}...</p>
												<a href="{:U('News/deta',array('newsart_id'=>$vo['newsart_id']))}" class="sc_services_item_readmore">查看更多
													<span class="icon-right-1"></span>
												</a>
											</div>
										</div>
									</article>
									</foreach>
	                        	</div>
	                        	<nav id="pagination" class="pagination_wrap pagination_pages">
		                            <span class="pager_current active ">1</span>
		                            <a href="#" class="">2</a>
		                            <a href="#" class="pager_next "></a>
		                            <a href="#" class="pager_last "></a>
		                        </nav>
							</div>
						<!-- /Content -->
						<!-- Sidebar -->
						<div class="sidebar widget_area scheme_original">
							<div class="sidebar_inner widget_area_inner">
								<!-- Widget: Categories -->
								<aside class="widget widget_categories">
									<h5 class="widget_title">文章分类</h5>
									<ul>
										<foreach name="cateData" item="vo">
										<li>
											<a href="{:U('News/index', array('category_id' => $vo['category_id']))}">{$vo.category_name}</a> ({$vo.category_num})
										</li>
										</foreach>
									</ul>
								</aside>
								<!-- /Widget: Categories -->
								<!-- Widget: Recent Posts -->
								<aside class="widget widget_recent_posts">
									<h5 class="widget_title">推荐文章</h5>
									<!-- 陈1.21 开始 -->
									<foreach name="art" item="vo">
										<article class="post_item with_thumb first">

											<div class="post_thumb">
												<img alt="" src="{$vo.newsart_pic}">
											</div>
											<div class="post_content">
												<h6 class="post_title">
													<!-- <a href="#">当虐童成为大概率事件，我们只能坐等下一次刷屏？</a> -->
													<a href="#">{$vo.newsart_title}</a>


												</h6>
												<div class="post_info">
												<span class="post_info_item">
                                                    <a href="#" class="post_info_date">{$vo.newsart_time} </a>
                                                </span>
												</div>
											</div>
										</article>
									</foreach>
									<!-- 陈1.21 end -->
								</aside>
								<!-- /Widget: Recent Posts -->
								<!-- Widget: Tag Cloud -->
								<aside class="widget widget_tag_cloud">
									<h5 class="widget_title">关键字</h5>
									<div class="tagcloud">
										<foreach name="tagData" item="vo">
										<a href="{:U('News/index', array('tag_id' => $vo['tag_id']))}" title="">{$vo.tag_name}</a>
										</foreach>
									</div>
								</aside>
								<!-- /Widget: Tag Cloud -->
								<!-- Widget: Calendar -->
								<aside class="widget widget_calendar">
									<table class="tpl-calendar">
										<thead>
											<tr>
												<th class="month_prev">
													<a href="#" title="View posts for December 2016"></a>
												</th>
												<th class="month_cur" colspan="5">January
													<span>2017</span>
												</th>
												<th class="month_next">
													<a href="#" title="View posts for February 2017"></a>
												</th>
											</tr>
											<tr>
												<th class="weekday" scope="col" title="Monday">Mon</th>
												<th class="weekday" scope="col" title="Tuesday">Tue</th>
												<th class="weekday" scope="col" title="Wednesday">Wed</th>
												<th class="weekday" scope="col" title="Thursday">Thu</th>
												<th class="weekday" scope="col" title="Friday">Fri</th>
												<th class="weekday" scope="col" title="Saturday">Sat</th>
												<th class="weekday" scope="col" title="Sunday">Sun</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="6" class="pad">
													<span class="day_wrap">&nbsp;</span>
												</td>
												<td class="day">
													<span class="day_wrap">1</span>
												</td>
											</tr>
											<tr>
												<td class="day">
													<span class="day_wrap">2</span>
												</td>
												<td class="day">
													<span class="day_wrap">3</span>
												</td>
												<td class="day">
													<span class="day_wrap">4</span>
												</td>
												<td class="day">
													<span class="day_wrap">5</span>
												</td>
												<td class="day">
													<span class="day_wrap">6</span>
												</td>
												<td class="today">
													<span class="day_wrap">7</span>
												</td>
												<td class="day">
													<span class="day_wrap">8</span>
												</td>
											</tr>
											<tr>
												<td class="day">
													<span class="day_wrap">9</span>
												</td>
												<td class="day">
													<span class="day_wrap">10</span>
												</td>
												<td class="day">
													<span class="day_wrap">11</span>
												</td>
												<td class="day">
													<span class="day_wrap">12</span>
												</td>
												<td class="day">
													<span class="day_wrap">13</span>
												</td>
												<td class="day">
													<span class="day_wrap">14</span>
												</td>
												<td class="day">
													<span class="day_wrap">15</span>
												</td>
											</tr>
											<tr>
												<td class="day">
													<span class="day_wrap">16</span>
												</td>
												<td class="day">
													<span class="day_wrap">17</span>
												</td>
												<td class="day">
													<span class="day_wrap">18</span>
												</td>
												<td class="day">
													<span class="day_wrap">19</span>
												</td>
												<td class="day">
													<span class="day_wrap">20</span>
												</td>
												<td class="day">
													<span class="day_wrap">21</span>
												</td>
												<td class="day">
													<span class="day_wrap">22</span>
												</td>
											</tr>
											<tr>
												<td class="day">
													<span class="day_wrap">23</span>
												</td>
												<td class="day">
													<span class="day_wrap">24</span>
												</td>
												<td class="day">
													<span class="day_wrap">25</span>
												</td>
												<td class="day">
													<span class="day_wrap">26</span>
												</td>
												<td class="day">
													<span class="day_wrap">27</span>
												</td>
												<td class="day">
													<span class="day_wrap">28</span>
												</td>
												<td class="day">
													<span class="day_wrap">29</span>
												</td>
											</tr>
											<tr>
												<td class="day">
													<span class="day_wrap">30</span>
												</td>
												<td class="day">
													<span class="day_wrap">31</span>
												</td>
												<td class="pad" colspan="5">
													<span class="day_wrap">&nbsp;</span>
												</td>
											</tr>
										</tbody>
									</table>
								</aside>
								!-- /Widget: Calendar -->
								<!-- Widget: Search -->
								<aside class="widget widget_search">
									<form method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="搜索" value="" name="s" title="Search for:" />
										<button type="submit" class="search_button icon-search"></button>
									</form>
								</aside>
								<!-- /Widget: Search -->
							</div>
						</div>
						<!-- /Sidebar -->
					</div>
				</div>
				<!-- /Page Content Wrap -->
			 <!-- Footer -->
				<include file="Common:footer" />
	</body>

</html>