<!DOCTYPE html>
<html lang="zh-cn" class="scheme_original">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">

		<title>救助中心-救助详情</title>
		<link rel="icon" href="Public/Home/images/favicon.ico" />

		<script type="text/javascript" src="Public/Home/js/loading.js"></script>

		<link rel="stylesheet" href="Public/Home/css/fontello/css/fontello.css" type="text/css" media="all" />

		<link rel="stylesheet" href="Public/Home/css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="Public/Home/css/core.animation.min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="Public/Home/css/shortcodes.min.css" type="text/css" media="all" />

		<link rel="stylesheet" href="Public/Home/css/plugin.instagram-widget.min.css" type="text/css" media="all" />

		<link rel="stylesheet" href="Public/Home/css/skin.min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="Public/Home/css/responsive.min.css" type="text/css" media="all" />

		<link rel="stylesheet" href="Public/Home/css/core.messages.min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="Public/Home/js/vendor/magnific/magnific-popup.min.css" type="text/css" media="all" />

	</head>

	<body class=" company_center page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
		<a id="toc_home" class="sc_anchor" title="Home" data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home" data-url="index.html" data-separator="yes"></a>
		<a id="toc_top" class="sc_anchor" title="To Top" data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
		<!-- Body wrap -->
		<div class="body_wrap">
			<!-- Page wrap -->
			<div class="page_wrap">
				<div class="top_panel_fixed_wrap"></div>
				<!-- Header -->
				<include file="Common:header" />
				<!-- /Header Mobile -->
				<!-- Breadcrumbs -->
				<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
					<div class="top_panel_title_inner top_panel_inner_style_3 breadcrumbs_block_bg3">
						<div class="content_wrap">
							<h1 class="page_title">救助详情</h1>
							<div class="breadcrumbs">
								<a class="breadcrumbs_item home" href="index.html">首页</a>
								<span class="breadcrumbs_delimiter"></span>
								<a class="breadcrumbs_item home" href="rescue.html">救助中心</a>
								<span class="breadcrumbs_delimiter"></span>
								<span class="breadcrumbs_item current">救助详情</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /Breadcrumbs -->
				<div class="content_wrap">
					<!-- Content -->
					<div class="content">
						<div class="company_center_top">
							<div class="cy_tr_img fl">
								<img src="{$Deta.rescue_pic}" />
							</div>
							<div class="cy_tr_tt fl">
								<div class="cy_tr_title">
									<span>{$Deta.rescue_title}</span>
								</div>
								<!--<div class="cy_tr_time_box">
									中国福利基金会
								</div>
								<div class="cy_tr_intro">
									华北地区最大的医药制造企业
								</div>-->
								<div class="cy_tr_mk">
									<label class="fl">目标金额：</label>
									<div>
										<span id="mk_je">{$Deta.rescue_appeal}</span>元
									</div>
									<div class="clear"></div>
								</div>
								<div class="cy_tr_mk ">
									<label class="fl">捐款金额：</label>
									<div>
										<span id="mk_je">{$Deta.rescue_offer}</span>元
									</div>
									<div class="clear"></div>
								</div>
								<div class="cy_tr_mk">
									<label class="fl">筹款时间：</label>
									<div>
										<span>2017-01-01</span>至<span>2019-01-01</span>
									</div>
									<div class="clear"></div>
								</div>
								
								<div class="jindutiao2" id="moneyProcess">
									<div class="jindu_xm2" style=" ">
										<p class="jindu_xm_p2"><span class="istrue" style="width:1%;"></span></p>
									</div>
								</div>
							</div>
							<div class="cy_tr_share fl" style="display: none;">
								<div class="praise-step-warp">
									<label class="fl">
								                分享到：
								    </label>
									<ul>
										<li class="fl">
											<a href="javascript:;"><i class="icon icon-three-cy icon-qq"></i></a>
										</li>
										<li class="fl">
											<a href="javascript:;"><i class="icon icon-three-cy icon-tencent-weibo"></i></a>
										</li>
										<li class="fl">
											<a href="javascript:;"><i class="icon icon-three-cy icon-weibo"></i></a>
										</li>
										<li class="fl">
											<a href="javascript:;"><i class="icon icon-three-cy icon-facebook"></i></a>
										</li>
										<div class="clear"></div>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="company_center_nav">
							<div class="cy-cp-nav" style="">
								<a href="user_company.html" class="btn btn-cy-content js-open-cy sc_button sc_button_style_filled sc_button_color_style_2">申请个人救助</a>
								<ul>
									<li data-type="" class="user_navli active">
										<a href="javascript:" data-href="cy-cp-intro-warp">项目介绍</a>
									</li>
									<li data-type="advantage" class="user_navli">
										<a href="javascript:" data-href="advantage">救助进展</a>
									</li>
									<li data-type="results" class="user_navli">
										<a href="javascript:" data-href="results">网友留言</a>
									</li>
									<li data-type="team" class="user_navli">
										<a href="javascript:" data-href="team"></a>
									</li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
						<div class="company_center_main">
							<div class="wrap-left pull-left column-6_10">
								<div class="user_navmain">
									<span class="span-mark-author active">项目介绍</span>
									<div class="cy-cp-intro-box">
										<div class="main_bottom_left_content" id="pj_content">
											{$Deta.rescue_intro}
											<div id="pj_attach_imgs"></div>
										</div>
									</div>
								</div>
								<div class="user_navmain">
									<span class="span-mark-author active" id="advantage" name="advantage">救助进展</span>
									<div class="cy-cp-intro-box">
										<div class="cy-cp-advantage">
											目前面向制造业的专业在线培训很少，要不就是网站上零散的视频教程也没有系统性。很多理论也与实践脱节。 线下的费用又特别贵，导致很多中小企业不可能也不会去请一些专家来上课。一天的费用就是上万，效果还不一定。<br>我们将专注于将精益生产，企业管理等基础知识以动漫视频形式进行系统的展示，极大的降低企业的学习成本。 </div>
									</div>

								</div>
								<div class="user_navmain">
									<span class="span-mark-author active" id="results" name="results">网友留言</span>
									<div class="cy-cp-intro-box">
										<!-- UY BEGIN -->
										<div id="uyan_frame"></div>
										<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
										<!-- UY END -->
									</div>
								</div>
								<div class="user_navmain">
									<span class="span-mark-author active" id="team" name="team">团队介绍</span>
									<ul class="cy-cp-team cy-cp-intro-box">
										<li>
											<div class="team-personnel-name column-1_5">
												陈洪明 </div>
											<div class="team-personnel-position column-1_5">
												创始人 </div>
											<div class="team-personnel-intro column-3_5">
												15年的工作经验，从事过产品研发和设计，精益生产管理， 担任过技术工程师，精益工程师，工艺工程师，技术总监，运营总监等职务，服务过大型民企，外企等单位，从事过电机，水泵等行业。对精益生产和企业管理有着深刻的自我理解。
											</div>
											<div class="clear"></div>
										</li>
									</ul>
								</div>
							</div>
							<div class="wrap-right pull-right column-3_10">
								<div class="box-moder cy-box-moder company-info">
									<h3>受助人信息</h3>
									<span class="span-mark"></span>
									<ul class="">
										<li>受住人：<span>{$Deta.rescue_name}</span></li>
										<li>网址：<span><a href="JavaScript:;" target="_blank">www.xxxx.net</a></span></li>
										<li>性别：<span>{$Deta.rescue_sex}</span></li>
										<li>地址：<span>{$Deta.rescue_address} </span></li>
										<li>民族：<span>汉族</span></li>
									</ul>
								</div>
								<div class="box-moder cy-box-moder company-info get-company-box">
									<h3>其他信息</h3>
									<span class="span-mark"></span>
									<ul class="">
										<li><label>发起方</label>：<span id="company_name" class="name">{$Deta.rescue_source}</span></li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- /Content -->
				</div>
				<!-- Footer -->
				<footer class="footer_wrap widget_area scheme_original">
					<div class="footer_wrap_inner widget_area_inner">
						<div class="content_wrap">
							<div class="columns_wrap">
								<!-- Widget: Text -->
								<aside class="column-1_4 widget widget_text">
									<h5 class="widget_title">关于我们</h5>
									<div class="textwidget">
										<p>我们是一群有爱心的慈善公益人，我们期待志同道合的爱心人士加入我们。</p>
										<p class="textwidget_info">
											<strong>邮箱: info#yoursite.com（#替换成@)</strong>
										</p>
										<p class="textwidget_info">
											<strong>地址:北京市海淀区清华科技园.<a href="map/beijing.htm">百度地图</a></strong>
										</p>
										<p class="textwidget_info">
											<strong>电话:400-6756-168</strong>
										</p>
									</div>
								</aside>
								<!-- /Widget: Text -->
								<!-- Widget: Recent Posts -->
								<aside class="column-1_4 widget widget_recent_posts">
									<h5 class="widget_title">眼科古籍</h5>
									<article class="post_item with_thumb first">
										<div class="post_thumb">
											<img alt="" src="Public/Home/images/op1.jpg">
										</div>
										<div class="post_content">
											<h6 class="post_title">
                                            <a href="#">全国现有事实孤儿至少61万人 救助困局亟待破解</a>
                                        </h6>
											<div class="post_info">
												<span class="post_info_item">
                                                    <a href="#" class="post_info_date">2017-11-25 星期六</a>
                                                </span>
											</div>
										</div>
									</article>
									<article class="post_item with_thumb">
										<div class="post_thumb">
											<img alt="" src="Public/Home/images/op1.jpg">
										</div>
										<div class="post_content">
											<h6 class="post_title">
                                            <a href="#">当虐童成为大概率事件，我们只能坐等下一次刷屏？</a>
                                        </h6>
											<div class="post_info">
												<span class="post_info_item">
                                                    <a href="#" class="post_info_date">2017-11-26 星期日</a>
                                                </span>
											</div>
										</div>
									</article>
								</aside>
								<!-- /Widget: Recent Posts -->
								<!-- Widget: Instagram -->
								<aside class="column-1_4 widget null-instagram-feed">
									<h5 class="widget_title">最新项目</h5>
									<ul class="instagram-pics instagram-size-large">
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<img src="Public/Home/images/op1.jpg" alt="" title="" />
											</a>
										</li>
									</ul>
								</aside>
								<!-- /Widget: Instagram -->
								<!-- Widget: Recent Comments -->
								<aside class="column-1_4 widget widget_recent_comments">
									<h5 class="widget_title">友情链接</h5>
									<ul id="recentcomments">
										<li class="recentcomments">
											<a href="http://www.cmf.org.cn/" target="_blank">中国医学基金会</a>
										</li>
										<li class="recentcomments">
											<a href="http://zgykbwg.ahnmc.com/" target="_blank">中国眼科博物馆</a>
										</li>
										<li class="recentcomments">
											<a href="#" target="_blank">社会福利基金会</a>
										</li>
										<li class="recentcomments">
											<a href="http://alijijinhui.org/index.php" target="_blank">阿里巴巴公益基金</a>
										</li>
										<li class="recentcomments">
											<a href="#" target="_blank">腾讯公益</a>
										</li>
									</ul>
									<ul id="recentcomments">
										<li class="recentcomments">
											<a href="http://www.cmf.org.cn/" target="_blank">中国医学基金会</a>
										</li>
										<li class="recentcomments">
											<a href="http://zgykbwg.ahnmc.com/" target="_blank">中国眼科博物馆</a>
										</li>
										<li class="recentcomments">
											<a href="#" target="_blank">社会福利基金会</a>
										</li>
										<li class="recentcomments">
											<a href="#" target="_blank">阿里巴巴公益平台</a>
										</li>
										<li class="recentcomments">
											<a href="http://gongyi.qq.com/" target="_blank">腾讯公益</a>
										</li>
									</ul>
								</aside>
							</div>
						</div>
					</div>
				</footer>
				<!-- /Footer -->
				<!-- Copyright -->
				<div class="copyright_wrap copyright_style_text scheme_original">
					<div class="copyright_wrap_inner">
						<div class="content_wrap">
							<div class="copyright_text">Copyright &copy; 2017.Company name All rights reserved.
							</div>
						</div>
					</div>
				</div>
				<!-- /Copyright -->
			</div>
			<!-- /Page wrap -->
		</div>
		<!-- /Body wrap -->

		<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>

		<script type="text/javascript" src="Public/Home/js/jquery/jquery.js"></script>

		<script type="text/javascript" src="Public/Home/js/vendor/photostack/modernizr.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/main.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/packed.js"></script>

		<script type="text/javascript" src="Public/Home/js/vendor/essential-grid/js/lightbox.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/essential-grid/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/essential-grid/js/jquery.themepunch.essential.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/essential-grid-homepage-1.js"></script>

		<script type="text/javascript" src="Public/Home/js/vendor/revslider/jquery.themepunch.revolution.min.js"></script>

		<script type="text/javascript" src="Public/Home/js/vendor/revslider/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/revslider/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/revslider/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/revslider-homepage-1.min.js"></script>

		<script type="text/javascript" src="Public/Home/js/superfish.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/core.utils.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/core.init.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/template.init.min.js"></script>

		<script type="text/javascript" src="Public/Home/js/shortcodes.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/core.messages.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/magnific/jquery.magnific-popup.min.js"></script>

		<script type="text/javascript" src="Public/Home/js/countdown/jquery.plugin.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/countdown/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/swiper/swiper.min.js"></script>
		<script type="text/javascript" src="Public/Home/js/vendor/isotope/dist/isotope.pkgd.min.js"></script>

		<script type="text/javascript" src="Public/Home/js/user.js"></script>
	</body>

</html>