<!DOCTYPE html>
<html lang="zh-cn" class="scheme_original">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">

        <title>眼科专家</title>
        <link rel="icon" href="Public/Home/images/favicon.ico" />
         
		<script type="text/javascript" src="Public/Home/js/loading.js" ></script>
		
        <link rel="stylesheet" href="Public/Home/css/fontello/css/fontello.css" type="text/css" media="all" />

        <link rel="stylesheet" href="Public/Home/js/vendor/revslider/css/settings.css" type="text/css" media="all" />
        <link rel="stylesheet" href="Public/Home/css/plugin.revslider.min.css" type="text/css" media="all" />
        
		<link rel="stylesheet" href="Public/Home/css/plugin.instagram-widget.min.css" type="text/css" media="all"  />

        <link rel="stylesheet" href="Public/Home/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="Public/Home/css/core.animation.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="Public/Home/css/shortcodes.min.css" type="text/css" media="all" />

       <link rel='stylesheet' href='Public/Home/js/vendor/swiper/swiper.min.css' type='text/css' media='all' />

        <link rel="stylesheet" href="Public/Home/css/skin.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="Public/Home/css/responsive.css" type="text/css" media="all" />

        <link rel="stylesheet" href="Public/Home/css/core.messages.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="Public/Home/js/vendor/magnific/magnific-popup.min.css" type="text/css" media="all" />
        
    </head>

    <body class="expert page index body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
      	 <!-- Header -->
         <include file="Common:header" />
                <!-- /Header -->
                <!-- Header Mobile -->
                <div class="header_mobile">
                    <div class="content_wrap">
                        <div class="menu_button icon-menu"></div>
                        <div class="logo">
                            <a href="index.html">
                                <img src="Public/Home/images/logo.png" class="logo_main" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="side_wrap">
                        <div class="close">Close</div>
                        <div class="panel_top">
                            <nav class="menu_main_nav_area">
                                <ul id="menu_main_mobile" class="menu_main_nav">
                                	<li><a href="index.html">首页</a></li>
									<li><a href="ophthalmology.html">眼科医学</a></li>
									<li><a href="news.html">新闻中心</a></li>
									<li><a href="contacts.html">联系我们</a></li>
									<li><a href="rescue.html">救助中心</a></li>
                                </ul>
                            </nav>
                            <!-- Search -->
                            <div class="search_wrap search_style_regular search_state_fixed">
                                <div class="search_form_wrap">
                                    <form role="search" method="get" class="search_form" action="#">
                                        <button type="submit" class="search_submit icon-search" title="Start search"></button>
                                        <input type="text" class="search_field" placeholder="搜索" value="" name="s" />
                                    </form>
                                </div>
                                <div class="search_results widget_area scheme_original">
                                    <a class="search_results_close icon-cancel"></a>
                                    <div class="search_results_content"></div>
                                </div>
                            </div>
                            <!-- /Search -->
                            <!-- Login -->
                            <div class="login">
                                <a href="login.html" class="popup_link popup_login_link icon-user">登录</a>
                            </div>
                            <!-- /Login -->
                        </div>
                        <!-- Socials panel -->
                        <div class="panel_bottom">
                            <div class="contact_socials">
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                                    <div class="sc_socials_item">
                                        <a href="javascript:;" target="_blank" class="social_icons social_qq">
                                            <span class="icon-qq"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="javascript:;" target="_blank" class="social_icons social_weibo">
                                            <span class="icon-weibo"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Socials panel -->
                    </div>
                    <div class="mask"></div>
                </div>
                <!-- /Header Mobile -->
      	<!--expert page-->
      	
<!-- Breadcrumbs -->
<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner top_panel_inner_style_3 breadcrumbs_block_bg4">
        <div class="content_wrap">
            <h1 class="page_title">眼科专家</h1>
            <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="{{ route('index') }}">首页</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">眼科专家</span>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumbs -->
    <!-- Content -->
    <div class="content">
  		  <article class="post_item post_item_single page">
            <section class="post_content">
                <!-- Services section -->
                <div class="tpl_bg_1">
                    <div class="sc_services_wrap content_wrap padding_top_7_1429em padding_bottom_2_1429em">
                        <div class="sc_services sc_services_style_services-5 sc_services_type_images sc_slider_pagination sc_slider_pagination_bottom sc_slider_nocontrols sc_slider_swiper swiper-slider-container width_100_per" data-interval="7711" data-slides-per-view="2" data-slides-space="40" data-slides-min-width="250">
                            <div class="slides swiper-wrapper">
                                <!-- Service item -->
                                <div class="swiper-slide width_100_per" data-style="width:100%;">
                                    <div class="sc_services_item_wrap">
                                        <div class="sc_services_item sc_services_item_1 odd first">
                                            <div class="sc_services_item_featured post_featured">
                                                <div class="post_thumb" data-title="About Our Mission">
                                                    <a class="hover_icon hover_icon_link" href="#">
                                                        <img alt="" src=" images/home3_timeline_img3-167x167.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="sc_services_item_content">
                                                <h4 class="sc_services_item_title">
                                                    <a href="#">张三-眼科之路</a>
                                                </h4>
                                                <div class="sc_services_item_description">
                                                    <p>尘肺知识预防宣传项目是“大爱清尘”基金下设用于宣传与预防尘肺病的专项。“大爱清尘”基金源自2011年6月15日由著名记者王克勤联合中华社会救助基金会共同发起的“大爱清尘•寻救中国尘肺病农民兄弟大行动”，</p>
                                                    <a href="#" class="sc_services_item_readmore">查看更多
                                                        <span class="icon-right-1"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Service item -->
                                <!-- Service item -->
                                <div class="swiper-slide width_100_per" data-style="width:100%;">
                                    <div class="sc_services_item_wrap">
                                        <div class="sc_services_item sc_services_item_2 even">
                                            <div class="sc_services_item_featured post_featured">
                                                <div class="post_thumb" data-title="What We Believe">
                                                    <a class="hover_icon hover_icon_link" href="#">
                                                        <img alt="about2.jpg" src=" images/about2-167x167.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="sc_services_item_content">
                                                <h4 class="sc_services_item_title">
                                                    <a href="#">李四-关注偏远山区眼科健康</a>
                                                </h4>
                                                <div class="sc_services_item_description">
                                                    <p>012年5月8日上午，中国社会福利基金会“MD关爱项目”成立，中国社会福利基金会理事长刘光和、副秘书长兼项目管理三部主任高月玲和“MD关爱项目”发起人陈霞出席了签约仪式。</p>
                                                    <a href="#" class="sc_services_item_readmore">查看更多
                                                        <span class="icon-right-1"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Service item -->
                                <!-- Service item -->
                                <div class="swiper-slide width_100_per" data-style="width:100%;">
                                    <div class="sc_services_item_wrap">
                                        <div class="sc_services_item sc_services_item_3 odd">
                                            <div class="sc_services_item_featured post_featured">
                                                <div class="post_thumb" data-title="Who We Are">
                                                    <a class="hover_icon hover_icon_link" href="#">
                                                        <img alt="icon.jpg" src=" images/icon-167x167.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="sc_services_item_content">
                                                <h4 class="sc_services_item_title">
                                                    <a href="#">王五-道德文化基金</a>
                                                </h4>
                                                <div class="sc_services_item_description">
                                                    <p> 中国社会基金会道德文化基金（以下简称：道德文化基金)旨在积极探索道德文化进万家、积极推动创建道德文化校园、道德文化企业、道德文化区县、道德文化乡镇四个创建道德文化教育实践活动，树立倡道德文化，赞时代楷模，播道德种子，树道德榜样的新风尚，实现“让道德融入世界，让世界充满道德”奋斗的目标。</p>
                                                    <a href="#" class="sc_services_item_readmore">查看更多
                                                        <span class="icon-right-1"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Service item -->
                            <div class="sc_slider_controls_wrap">
                                <a class="sc_slider_prev" href="#"></a>
                                <a class="sc_slider_next" href="#"></a>
                            </div>
                            <div class="sc_slider_pagination_wrap"></div>
                        </div>
                    </div>
                </div>
                <!-- /Services section -->
                <!-- Team section -->
                <div class="sc_team_wrap scheme_original padding_top_2_5em padding_bottom_7_1429em">
                    <div class="content_wrap">
                        <div class="sc_team sc_team_style_team-1 sc_slider_nopagination sc_slider_nocontrols aligncenter width_100_per" data-interval="7176" data-slides-per-view="3" data-slides-min-width="250">
                            <h6 class="sc_team_subtitle sc_item_subtitle">专家学者</h6>
                            <h2 class="sc_team_title sc_item_title">有创意，有互动，有思想的公益主题活动。</h2>
                            <div class="sc_team_descr sc_item_descr">2011年12月22日阿里巴巴公益基金会在民政部注册成立，我们的宗旨是营造公益氛围，发展公益事业，促进人与社会、人与自然的可持续发展。</div>
                            <div class="sc_columns columns_wrap">
                                <!-- Team item -->
                                <div class="column-2_9 column_padding_bottom">
                                    <div class="sc_team_item sc_team_item_3 odd">
                                        <div class="sc_team_item_avatar">
                                            <a class="sc_team_item_avatar_link" href="#">
                                                <img alt="" src="Public/Home/images/team-1-370x226.jpg">
                                            </a>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title">
                                                <a href="#">张三</a>
                                            </h5>
                                            <div class="post_info">
																<span class="post_info_item post_info_tags">职位：
						                                            <a class="donation_category_link" href="news_center.html">人民医院眼科主任</a>
						                                       </span>
                                            </div>
                                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                <p> 从业三十年，临床案例无数，是我国第一代眼科医学贡献研究者 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Team item -->
                                <!-- Team item -->
                                <div class="column-2_9 column_padding_bottom">
                                    <div class="sc_team_item sc_team_item_3 odd">
                                        <div class="sc_team_item_avatar">
                                            <a class="sc_team_item_avatar_link" href="#">
                                                <img alt="" src="Public/Home/images/team-3-370x226.jpg">
                                            </a>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title">
                                                <a href="#">李四</a>
                                            </h5>
                                            <div class="post_info">
																<span class="post_info_item post_info_tags">职位：
						                                            <a class="donation_category_link" href="news_center.html">第一医院眼科副主任</a>
						                                       </span>
                                            </div>
                                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                <p> 从业三十年，临床案例无数，是我国第一代眼科医学贡献研究者  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Team item -->
                                <!-- Team item -->
                                <div class="column-2_9 column_padding_bottom">
                                    <div class="sc_team_item sc_team_item_3 odd">
                                        <div class="sc_team_item_avatar">
                                            <a class="sc_team_item_avatar_link" href="#">
                                                <img alt="" src="Public/Home/images/team-2-370x226.jpg">
                                            </a>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title">
                                                <a href="#">王五</a>
                                            </h5>
                                            <div class="post_info">
																<span class="post_info_item post_info_tags">职位：
						                                            <a class="donation_category_link" href="news_center.html">协和医院眼科主任医师</a>
						                                       </span>
                                            </div>
                                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                <p> 从业三十年，临床案例无数，是我国第一代眼科医学贡献研究者 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Team item -->
                                <!-- Team item -->
                                <div class="column-2_9 column_padding_bottom">
                                    <div class="sc_team_item sc_team_item_3 odd">
                                        <div class="sc_team_item_avatar">
                                            <a class="sc_team_item_avatar_link" href="#">
                                                <img alt="" src="Public/Home/images/team-3-370x226.jpg">
                                            </a>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title">
                                                <a href="#">赵六</a>
                                            </h5>
                                            <div class="post_info">
																<span class="post_info_item post_info_tags">职位：
						                                            <a class="donation_category_link" href="news_center.html">国家眼科医学会理事</a>
						                                       </span>
                                            </div>
                                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                <p> 从业三十年，临床案例无数，是我国第一代眼科医学贡献研究者 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Team item -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Team section -->
            </section>
        </article>
    </div>
    </div>
    <!-- /Content -->

      	<!--expert page end-->
      	        <!-- Footer -->
         <include file="Common:footer" />
    </body>

</html>
