<header class="top_panel_wrap top_panel_style_3 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
        <!--登录前  Top panel : Bar -->
        <div class="top_panel_top before">
            <div class="content_wrap clearfix">
                <div class="top_panel_top_contact_area">
                    请致电400-6756-168<!--或<a href="support@qiye.com">support@qiye.com与我们联系</a> -->与我们联系
                </div>
                <div class="top_panel_top_user_area">
                    <ul id="menu_user" class="menu_user_nav">
                        <li class="menu_user_login">
                            <a href="login.html" class="popup_link popup_login_link icon-user"></a>
                        </li>
                    </ul>
                    <div class="top_panel_top_socials">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social-qq">
                                    <span class="icon-qq"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social-weibo">
                                    <span class="icon-weibo"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top_panel_top_search">
                        <div class="search_wrap search_style_regular search_state_closed">
                            <div class="search_form_wrap">
                                <form role="search" method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-search" title="Open search"></button>
                                    <input type="text" class="search_field" placeholder="搜索" value="" name="s" />
                                </form>
                            </div>
                            <div class="search_results widget_area scheme_original">
                                <a class="search_results_close icon-cancel"></a>
                                <div class="search_results_content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /登录前  Top panel : Bar -->
        <!--登录后  Top panel : Bar -->
        <div class="top_panel_top after">
            <div class="content_wrap clearfix">
                <div class="top_panel_top_contact_area">
                    请致电400 123-4567或<a href="support@qiye.com">support@qiye.com与我们联系</a>
                </div>
                <div class="top_panel_top_user_area">
                    <div class="top_panel_top_socials">
                        <div class="user_avatar login_after">
                            <a href="JavaScript:;">刘刚</a>欢迎您！
                        </div>
                    </div>
                    <div class="top_panel_top_search">
                        <div class="search_wrap search_style_regular search_state_closed">
                            <div class="search_form_wrap">
                                <form role="search" method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-search" title="Open search"></button>
                                    <input type="text" class="search_field" placeholder="搜索" value="" name="s" />
                                </form>
                            </div>
                            <div class="search_results widget_area scheme_original">
                                <a class="search_results_close icon-cancel"></a>
                                <div class="search_results_content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /登录后 Top panel : Bar -->
        <!-- Menu area -->
        <div class="top_panel_middle">
            <div class="content_wrap">
                <!-- Contact logo -->
                <div class="contact_logo">
                    <div class="logo">
                        <a href="index.html">
                            <img src="Public/Home/images/logo.png" class="logo_main" alt="">
                            <img src="Public/Home/images/logo.png" class="logo_fixed" alt="">
                        </a>
                    </div>
                </div>
                <!-- /Contact logo -->
                <!-- Main Menu -->
                <div class="menu_main_wrap">
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main" class="menu_main_nav">
                            <li><a href="{:U('Index/index')}">首页</a></li>
                            <li><a href="{:U('Ophtha/index')}">眼科医学</a></li>
                            <li><a href="{:U('News/index')}">新闻中心</a></li>
                            <li><a href="{:U('Expert/index')}">眼科专家</a></li>
                            <li><a href="{:U('News/index')}">眼科历史</a></li>
                            <li><a href="{:U('Contact/index')}">联系我们</a></li>
                            <li><a href="{:U('Rescue/index')}">救助中心</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /Main Menu -->
            </div>
        </div>
        <!-- /Menu area -->
    </div>
</header>